{% extends "base.html" %}

{% comment %} css 작업은 여기서 하세요!! {% endcomment %}
{% block css %}
<link rel='stylesheet' type="text/css" href="/static/css/magazine.css">
{% endblock css %}

{% comment %} script 작업은 여기서 하세요!! {% endcomment %}
{% block script %}
<script src="/static/js/magazine.js">
{% endblock script %}

{% comment %} body 작업은 여기서 하세요!! {% endcomment %}
{% block body %}

    <div class='magazine-header_bg'>
        <form name='searchFrm' action='/magazine/mlist/' method='get'>
        {% csrf_token %}
        <div class='magazine-header'>
            <div class='search-title'>
                Reborn 매거진
            </div>
            <div class="search-container">
                <div class="search-box">
                    <span class="search-icon"><img src='/static/images/magazine/search_icon.png'></span>
                    <input type="text" name='search' placeholder="매거진 내에서 검색해보세요."/>
                </div>
                <button class="search-btn" name='search-btn' onclick='searchBtn()'>검색</button>
            </div>
        </div>
        </form>
    </div>

    <div class='magazine-body'>

        <div class='magazine-category'>
            <select id='category' name='category' onchange="selectBtn(this.value)">
                <option value=''>전체</option>
                {% for code in qs_code %}
                    {% if category == code.mtype %}
                        <option value="{{code.mtype}}" selected>{{code.mtype_desc}}</option>
                    {% else %}
                        <option value="{{code.mtype}}">{{code.mtype_desc}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <!-- 매거진 출력 start -->
        <ul>

            {% for l in list %}
            <li class='magazine_item'>
                <a href='#'>
                    <figure>
                        <div>
                            {% if l.mfile %}
                                <img src='/media/{{l.mfile}}'>
                            {% else %}
                                <img src='/static/images/magazine/temp_image.png'>
                            {% endif %}
                        </div>
                        <figcaption>
                            <span class='card-category'>{{l.magazine_code.mtype_desc}}</span>
                            <h4 class='card-title'>{{l.mtitle}}</h4>
                            <p>
                            {{l.mcontent}}
                            </p>
                            <span class='card-date'>{{l.mdate|date:'Y-m-d H:i'}}</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
            {% endfor %}

            <!-- 나머지 빈공란 출력 -->
            {% if etc_count > 0 %}
            {% for l in "x"|rjust:etc_count %}
                <li class='magazine_item'></li>
            {% endfor %}
            {% endif %}

            <!-- sample /////////////////////////////
            <li class='magazine_item'>
                <a href='#'>
                    <figure>
                        <div><img src='/media/magazine_1.jpg'></div>
                        <figcaption>
                            <span class='card-category'>레스토랑 & 카페 </span>
                            <h4 class='card-title'>동네의 결이 이어지는 길 - 성북천 미식 산책</h4>
                            <p>
                                신설동역부터 보문역, 성신여대입구역, 한성대입구역까지 이어지는 성북천은 오래된 노포부터 힙한 카페거리를 아우르며 시간이 켜켜이 축적된 터전이다. 다양한 연령대가 자연스럽게 공존하고, 물길을 따라 크고 작은 이야기가 흐르는 곳. 성북천의 맛집을 소개한다.
                            </p>
                            <span class='card-date'>2025.12.23</span>
                        </figcaption>
                    </figure>
                </a>
            </li>
            ///////////////////////////////////// -->
        </ul>         
        <!-- 매거진 출력 end -->

    </div>

    <!-- 페이징 start -->
    <div class="btnAreaList">
        <div class="allPageMoving1">
            {% if list.has_previous %}
                <a href="/magazine/mlist/?page=1&category={{category}}&search={{search}}" class="n"><img src="/static/images/common/btn_pre2.gif" alt="처음으로"/></a>
                <a href="/magazine/mlist/?page={{list.previous_page_number}}&category={{category}}&search={{search}}" class="pre"><img src="/static/images/common/btn_pre1.gif" alt="앞페이지로"/></a>
            {% else %}
                <a class="n"><img src="/static/images/common/btn_pre2.gif" alt="처음으로"/></a>
                <a class="pre"><img src="/static/images/common/btn_pre1.gif" alt="앞페이지로"/></a>
            {% endif %}


            {% for p in list.paginator.page_range %}

                {% if p >= list.number|add:'-3' and p <= list.number|add:'3' %}

                    {% if p == page %}
                        <strong>{{p}}</strong>
                    {% else %}
                        <a href="/magazine/mlist/?page={{p}}&category={{category}}&search={{search}}">{{p}}</a>
                    {% endif %}

                {% endif %}
            {% endfor %}


            {% if list.has_next %}
                <a href="/magazine/mlist/?page={{list.next_page_number}}&category={{category}}&search={{search}}" class="next"><img src="/static/images/common/btn_next1.gif" alt="뒤페이지로"/></a>
                <a href="/magazine/mlist/?page={{list.paginator.num_pages}}&category={{category}}&search={{search}}" class="n"><img src="/static/images/common/btn_next2.gif" alt="마지막페이지로"/></a>
            {% else %}
                <a class="next"><img src="/static/images/common/btn_next1.gif" alt="뒤페이지로"/></a>
                <a class="n"><img src="/static/images/common/btn_next2.gif" alt="마지막페이지로"/></a>
            {% endif %}

        </div>
        <!-- 페이징 end -->

    </div>  
    
{% endblock body %}


