{% extends "base.html" %}

{% comment %} css 작업은 여기서 하세요!! {% endcomment %}
{% block css %}
<link rel='stylesheet' type="text/css" href="/static/css/magazine.css">
{% endblock css %}

{% comment %} script 작업은 여기서 하세요!! {% endcomment %}
{% block script %}
<link rel='stylesheet' href="/static/js/magazine.js">
{% endblock script %}

{% comment %} body 작업은 여기서 하세요!! {% endcomment %}
{% block body %}

    <div class='magazine_bg'>
        <div class='magazine-header'>
            <div class='search-title'>
                리본 매거진
            </div>
            <div class="search-container">
                <div class="search-box">
                    <span class="search-icon"><img src='/static/images/magazine/search_icon.png'></span>
                    <input type="text" placeholder="매거진 내에서 검색해보세요."/>
                </div>
                <button class="search-btn">검색</button>
            </div>
        </div>
    </div>



{% endblock body %}


